.avatar-wrapper {
  margin-left: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}
.avatar-wrapper:last-of-type {
  border-right: none !important;
}

.ava {
  margin: 15px;
  border: 3px solid rgba(150,180,150,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: left;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
  z-index: 3;
}
.ava img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  opacity: .3;
}

.avatar-container {
  margin: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.voted {
  opacity: 1;
  border-color: greenyellow;
}

.voted img {
  opacity: 1;
}

.hovering {
  border-color: red;
  opacity: 1;
}
