.vote-wrapper {
  display: flex;
  flex-direction: row;
}
.vote-option {
  margin: 5px;
  padding: 5px;
}

.hidden-vote {
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: black;
  background-color: black;
  border: 1px solid white;
}
.hidden-vote:hover {
  color: white;
}
