html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Top level app grid */
.app-grid {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas:
            "dash dash login"
            "main main main";
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
}

/* Create grid-gap border */
.app-grid > div {
    background-color: white;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.dash-container {
    grid-area: dash;

    /* TEMP */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container {
    grid-area: main;

    /* TEMP */
    display: flex;
    align-items: center;
    flex-direction:  column;
}
.login-container {
    grid-area: login;

    /* TEMP */
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-container {
    grid-area: chat;
    max-height: 100%;
    max-width: 100%;
}

/* TODO: move this and login to separate component */
.avatar-logo {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
